:root{
  --red: #b8383b;
  --blu: #5885a2;
  --merc-width: 115px;
  --mer-height: 152px;
  --flip-time: 0.1s;
}

@font-face {
  font-family: tf2;
  src: url(tf2build.ttf);
}

.game {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 75.4vw;
  max-height: calc(456px + 4vw);
}

.board {
  height: auto;
  padding: 1vw 1vw 1vw 0;
  margin: auto 0 auto auto;
}

.titulos{
  color: black;
  writing-mode: vertical-rl;
  font-family: tf2;
  height: auto;
  padding: .5vw 0 1.5vw 0;
  margin: auto auto 0 0;
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari prior 9.0 */
  transform: rotate(180deg); 
}

.status {
  height: 25%;
  width: auto;
}

.square {
  width: 18vw;
  height: 23.8vw;
  border: none;
  background-size: cover;
  margin: .5vw;
  max-width: var(--merc-width);
  max-height: var(--mer-height);
}

.titulos .main{
  text-align: justify;
  font-size: 2em;
}

.titulos .sadjoke{
  font-size: .8em;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.ganador{
  animation: shadow-drop-2-center 0.4s linear both;
}





.coin-flip{ /* Safari */
  transition-duration: var(--flip-time);  
}

.coin-flip:hover {
  /*margin: 10px;*/
  animation: rotate-scale-down-ver var(--flip-time) linear ;
}

.rotate-scale-down-ver {
  
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-info {
  position: fixed;
  bottom: 0;
}

.mercImg{
  width: 22%;
  height: auto;
}



/*Animacion chida*/
@keyframes rotate-scale-down-ver {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(0.5) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 10px 0 10px 5px rgba(0, 0, 0, .9);
  }
}
